/*Color*/
$primaryColor: #9F53EC;
$secondaryColor: #5354EC;
$tertiaryColor: #53A0EC;
$fourthColor: #EB53EC;
$green: #33B850;
$red: #E24C4C;

/*Font Family*/
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');